@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

body{
    margin: 0;    
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: 500;
}

h2{
    font-size: 40px;
}

.orangeColor{
    color: orange;
    
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.write{
    width: 50%;
    padding-left: 2%;
}

.write img{
    width: 80%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.secA{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;    
}

#SecB{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.ex{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 35px gray;
    
}

.Experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;    
}

#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#web-heo{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}